@import url('https://fonts.googleapis.com/css?family=Fira+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
#logo{
  font-size: 4rem;
  letter-spacing: 0.6rem;
  font-weight: 800;
  color: #4cff4c;
  margin: 5px;
  cursor: pointer;
}
#logo span{
  color: #FBFF12;
}
body{
	font-family: 'Fira Mono', monospace;
  overflow-x: hidden;
}
.thanx{
  font-size: 1em;    margin-bottom: 20PX;
  text-indent: 0px;
  text-align: left;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}
.vuejs-text{
 color: #4dba87 !important;
}
#footer{
  position: fixed;
  width: 100vw;
  bottom: 0;
  z-index: 10;
  display: grid;
}
#footer ul{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr 2fr;
}
#footer ul li{
  background-color: #FBFF12;
  list-style: none;
  cursor: pointer;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 4fr 1fr 1fr;
  transition: all 0.2s cubic-bezier(.47,.09,.72,-0.06);
}
#footer ul li::before, #footer ul li::after{
  content: '>';
  color: #FBFF12;
  grid-row: 2;
  font-size: 2em;
  font-family: 'Fira Code';
}
#footer ul li::before{
  content: '';
  color: #FBFF12;
  background-color: transparent;
}
#footer ul li:hover{
  background-color: transparent;
}
#footer ul li:hover a{
  color: #F71735;
  font-size: 4em;
}
#footer ul li a{
  text-decoration: none;
  grid-row: 2;
  grid-column: 3;
  color: #31A331;
  font-weight: 800;
  letter-spacing: 2px;
  font-size: 2em;
  transition: all 0.2s cubic-bezier(.47,.09,.72,-0.06);
}
.content .location{
  color: #F71735;
  font-weight: 600;
  letter-spacing: 5px;
  text-align: center
}
.content{
  overflow-y: scroll;
  text-align: center;
  display: grid;
  grid-template-rows: .5fr 3fr 2fr .5fr 2fr;
  grid-template-columns: 1fr 4fr 1fr;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 55px;
  z-index: 2;
  margin-bottom: 100px;
}
.content .introduction{
  text-indent: 5em;
  grid-column: 2;
  grid-row: 2;
  font-size: 1em;
  letter-spacing: 2px;
  padding: 20px;
  color: white;
  text-align: justify;
  font-weight: 800;
}
.content .icon-group{
  grid-column: 2;
  grid-row: 3;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 10%;
  grid-row-gap: 30%;
}
.icon-group div{
  background-color: transparent;
  color: white;
}
#name{
  font-size: 2em;
  letter-spacing: 10px;
  line-height: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
}
.content .conclusion{
  grid-column: 2;
  grid-row: 5;
  font-size: 1em;
  letter-spacing: 2px;
  padding: 20px;
  color: white;
  text-align: justify;
  font-weight: 800;
}
.page-link{
  color: #F71735;
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.page-link:hover{
  color: #4cff4c;
  font-size: large;
}
#active{
  background-color: transparent !important;
}
#active a{
  color: #F71735 !important;
  font-size: 4em !important;
}
.red-text{
  text-indent: 0px;
  color: #F71735;
}
.assets{
  color: #4cff4c;
  font-size: 2em;
  line-height: 2em;
  font-family: 'fira code';
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.assets img{
  margin-bottom: 20px;
}
.browser-support{
  grid-row: 3;
  grid-column: 2;
  text-indent: 5em;
  font-size: 1em;
  letter-spacing: 2px;
  padding: 20px;
  color: white;
  text-align: justify;
  font-weight: 800;
}
.introduction a{
  color: white;
}
.introduction a:hover{
  color: #FBFF12;
}
@media only screen and (max-width: 920px) {
  .content .icon-group{
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 820px) {
  #logo, #logo span{
    font-size: 2rem;
  }
}
@media only screen and (max-width: 770px) {
  .content .icon-group{
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .vuejs{
    grid-row: 4;
    grid-column: 2;
  }
  #name{
    grid-row: 3;
    grid-column: 2;
  }
}
@media only screen and (max-width: 684px) {
  .assets{
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 575px) {
  #logo, #logo span{
    font-size: 1.5rem;
  }
  .content{
    font-size: 10px;
    overflow-x: hidden;
  }
  #footer{
    overflow-x: scroll;
  }
  #footer ul li a{
    font-size: 20px;
  }
  #footer ul li:hover a{
    font-size: 55px;
  }
  #active a{
    font-size: 55px !important;
  }
}
